{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "AZURE_OPEN_AI__CHAT_COMPLETION_DEPLOYMENT_NAME": "",
    "AZURE_OPEN_AI__ENDPOINT": "",
    "AZURE_OPEN_AI__API_KEY": "",
    "AZURE_BING_SEARCH__API_KEY": ""
  }
}